
*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}
body{overflow-x:hidden}

.course5-hero{
height:420px;background:url('https://images.unsplash.com/photo-1523240795612-9a054b0db644') center/cover;
position:relative;display:flex;align-items:center;justify-content:center;text-align:center;margin-bottom:80px
}
.overlay{position:absolute;inset:0;background:rgba(0,0,0,.55)}
.hero-content{position:relative;z-index:2;color:#fff}
.hero-content h1{font-size:70px;margin:18px 0}

/* search */
/* TOP FILTER BAR */
.course-topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:0 8% 55px;
gap:25px;
flex-wrap:wrap;
}

.results{
font-size:18px;
font-weight:600;
color:#222;
}

.course-search{
display:flex;
width:370px;
max-width:100%;
border:1px solid #e5e5e5;
overflow:hidden;
background:#fff;
}

.course-search input{
flex:1;
padding:16px 18px;
border:none;
outline:none;
font-size:15px;
}

.course-search button{
width:62px;
border:none;
background:#27ae60;
color:#fff;
cursor:pointer;
font-size:18px;
transition:.3s;
}

.course-search button:hover{
background:#1f8a4c;
}

.course5-grid{
padding:0 8% 70px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:35px;
}

.course5-card{
background:#a81d1d;
border-radius:90px 0 90px 0;
overflow:hidden;
box-shadow:0 10px 35px rgba(0,0,0,.08);
transition:.35s;
}

.course5-card:hover{transform:translateY(-10px)}

.course5-card img{
width:100%;height:250px;object-fit:cover;
}

.content{padding:28px}

.cat{
display:inline-block;
padding:10px 20px;
border-radius:12px;
/* background:#fdeeee; */
color:#c0392b;
font-weight:700;
margin-bottom:16px;
}

h3{
font-size:28px;
line-height:1.45;
min-height:82px;
margin-bottom:16px;
transition:.3s;
}
h3:hover{color:#27ae60}

.rating{display:flex;align-items:center;gap:4px;margin-bottom:18px}
.on{color:#FFD700}
.off{color:#fff}
.rating span{margin-left:8px;color:#222}

h4{
color:#d63031;
font-size:30px;
margin-bottom:22px;
}

.meta{
display:flex;
justify-content:space-between;
border-top:1px solid #eee;
padding-top:18px;
font-weight:600;color:#666;
}
.meta span{display:flex;align-items:center;gap:8px}

.pagination{
display:flex;justify-content:center;gap:12px;padding-bottom:80px
}
.pagination span{
width:48px;height:48px;border-radius:50%;
display:flex;align-items:center;justify-content:center;background:#f2f2f2
}
.pagination .active{background:#27ae60;color:#fff}

@media(max-width:1100px){.course5-grid{grid-template-columns:repeat(2,1fr)}}
@media(max-width:768px){
.course5-grid{grid-template-columns:1fr}
.hero-content h1{font-size:48px}
}
